<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo_dynamic_section.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1B31B791F0E30E200B320F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1B31B921F0E30E200B320F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1B31B9D1F0E30E200B320F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
